# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

@
bus_if.h
device_if.h
export_syms
machine
pci_if.h
ptx.kld
ptx.ko

